*{
    font-family: 'Sassy Frass', cursive;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
    overflow: hidden;
    margin: 0%;
}
.bg{
    background: url('img/img.jpeg') no-repeat center center/cover;
    position: absolute;
    top: -30;
    left: -30;
    width:calc(100vw + 50px);
    height: calc(152vh + 30px);
    z-index: -1;
    filter: blur(0px);
}
.loading{
    font-weight: 900;
    font-size: 2.5rem;
    position: absolute;
    left: 49.5%;
    bottom: 40%;
    color: aliceblue;
}